* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f6f6f6;
  font-family: 'Raleway', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 600px;
}

.title {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.cookie {
  display: block;
  max-height: 350px;
  max-width: 350px;
  margin: 0 auto;
  cursor: pointer;
}

.message {
  margin-top: 20px;
  font-weight: 700;
  text-align: center;
  font-size: 1.5rem;
}

#shake-lr {
	-webkit-animation: shake-lr 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	animation: shake-lr 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@-webkit-keyframes shake-lr {
  0%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
  20%, 40%, 60% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  30%, 50%, 70% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  80% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }
  90% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
}
@keyframes shake-lr {
  0%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
  20%, 40%, 60% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  30%, 50%, 70% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  80% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }
  90% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
}
